<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Add your listing</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/addProperty.css" />
</head>
<body>

    <div class="row px-6 py-6">
        <div class="col">&nbsp;</div>
    </div>

    <div class="row px-3 py-3">
        <div class="col" style="text-align:center">
            <h2>Add Listing Info:</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col">

            <form name="add-form" action="add" method="post" enctype="multipart/form-data">

                <div class="form-group row px-2 py-2">
                    <label for="pName" class="col-sm-3 col-form-label">Property Name:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="pName" name="pName" required>
                    </div>
                </div>

                <div class="form-group row px-2 py-2">
                    <label for="street" class="col-sm-3 col-form-label">Street Address:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="street" name="street" required>
                    </div>
                </div>
                <div class="form-group row px-2 py-2">
                    <div class="form-group col-sm">
                        <label for="country">Country:</label>
                        <input type="text" class="form-control" id="country" name="country" required>
                    </div>
                    <div class="form-group col-sm">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" name="state" required value="N/A">
                    </div>
                    <div class="form-group col-sm">
                        <label for="city">City:</label>
                        <input type="text" class="form-control" id="city" name="city" required>
                    </div>
                </div>
                <div class="form-group row px-2 py-2">
                    <label for="type" class="col-sm-3 col-form-label">Select House type:</label>
                    <div class="col-sm-9">
                        <select id="type" class="form-control" name="type" required>
                            <option value="house">House</option>
                            <option value="apartment">Apartment</option>
                            <option value="castle">Castle</option>
                            <option value="guesthouse">Guesthouse</option>
                            <option value="tiny-house">Tiny House</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row px-2 py-2">
                    <div class="form-group col-sm">
                        <label for="bedrooms">Bedrooms:</label>
                        <input type="number" min="1" max="9" class="form-control" pattern="[0-9]{1}" id="bedrooms" name="bedrooms" required />
                    </div>
                    
                    <div class="form-group col-sm">
                        <label for="baths">Bathrooms:</label>
                        <input type="number" min="1" max="9" class="form-control" pattern="[0-9]{1}" id="baths" name="baths" required />
                    </div>
                </div>
                <div class="form-group row px-2 py-2">
                    <label for="guest-no" class="col-sm-3 col-form-label">Maximum Guests:</label>
                    <div class="col-sm-9">
                        <input type="number" min="1" class="form-control" pattern="[0-9]{2}" id="guest-no" name="guest_no" />
                    </div>
                </div>
                <div class="form-group row px-2 py-2">
                    <label for="price" class="col-sm-3 col-form-label">Price Per Night:</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="price" name="price" required />
                    </div>
                </div>
                <div class="form-group row px-2 py-2">
                    <div class="form-group col-sm">
                        <label for="aval-from">Available From date:</label>
                        <input type="date" class="form-control" id="aval-from" name="aval_from" required />
                    </div>
                    <div class="form-group col-sm">
                        <label for="aval-until">Available Until date:</label>
                        <input type="date" class="form-control" id="aval-until" name="aval_until" />
                    </div>
                </div>
                <div class="form-group row px-2 py-2">
                    <p style="text-align:center;font-size:18px;"><b>Cancellation Policy:</b></p>
                    <div class="form-group col-sm">
                        <label for="is-refund">Can be Refunded?:</label>
                        <select id="is-refund" class="form-control" name="is_refund" required onchange="check(this)">
                            <option value="no">No</option>
                            <option value="yes">Yes</option>

                        </select>
                    </div>
                    <div class="form-group col-sm">
                        <label for="refund-rate">Refund rate:</label>
                        <input type="number" min="40" max="100" class="form-control" id="refund-rate" name="refund-rate" disabled />
                    </div>
                    <div class="form-group col-sm">
                        <label for="refund-period">Refund period:(in days)</label>
                        <input type="number" min="3" class="form-control" id="refund-period" name="refund-period" disabled />
                    </div>
                </div>
                <div class="form-group row px-2 py-2">
                    <p style="text-align:center;font-size:18px;"><b>Check Amenities:</b></p>
                    <div class="container" id="essentials">
                        <p style="text-align:center"><b>Essentials:</b></p>
                        <ul>
                            <li>
                                <input type="checkbox" id="amn-wifi" name="amn_wifi" value="wifi"  />
                                <label for="amn-wifi">Wifi</label>
                            </li>
                            <li>
                                <input type="checkbox" id="amn-kitchen" name="amn_kitchen" value="kitchen"  />
                                <label for="amn-kitchen">Kitchen</label>
                            </li>
                            <li>
                                <input type="checkbox" id="amn-washer" name="amn_washer" value="washer" />
                                <label for="amn-washer">Washer</label>
                            </li>
                            <li>
                                <input type="checkbox" id="amn-dryer" name="amn_dryer" value="dryer" />
                                <label for="amn-dryer">Dryer</label>
                            </li>
                            <li>
                                <input type="checkbox" id="amn-ac" name="amn_ac" value="ac" />
                                <label for="amn-ac">AC</label>
                            </li>
                            <li>
                                <input type="checkbox" id="amn-heater" name="amn_heater" value="heater" />
                                <label for="amn-heater">Heater</label>
                            </li>
                            <li>
                                <input type="checkbox" id="amn-tv" name="amn_tv" value="tv" />
                                <label for="amn-tv">TV</label>
                            </li>
                            <li>
                                <input type="checkbox" id="amn-iron" name="amn_iron" value="iron" />
                                <label for="amn-iron">Iron</label>
                            </li>
                        </ul>
                    </div>
                    <div class="container mt-3" id="features">
                        <p style="text-align:center"><b>Features:</b><br /></p>
                        <ul>
                            <li>
                                <input type="checkbox" id="amn-pool" name="amn_pool" value="pool" />
                                <label for="amn-pool">Pool</label>
                            </li>
                            <li>
                                <input type="checkbox" id="amn-tub" name="amn_tub" value="tub" />
                                <label for="amn-tub">Hot tub</label>
                            </li>
                            <li>
                                <input type="checkbox" id="amn-parking" name="amn_parking" value="parking" />
                                <label for="amn-parking">Parking</label>
                            </li>
                            <li>
                                <input type="checkbox" id="amn-gym" name="amn_gym" value="gym" />
                                <label for="amn-gym">Gym</label>
                            </li>
                            <li>
                                <input type="checkbox" id="amn-front" name="amn_front" value="front" />
                                <label for="amn-front">Frontyard</label>
                            </li>
                            <li>
                                <input type="checkbox" id="amn-back" name="amn_back" value="back" />
                                <label for="amn-back">Backyard</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-group row px-2 py-2">
                    <label class="form-label" for="description">Add Description (150 characters):</label>
                    <textarea class="form-control" id="description" name="description" maxlength="150" rows="4"></textarea>

                </div>
                <div class="form-group row px-2 py-2">
                    <label for="pictures" class="col-sm-3 col-form-label">Add pictures:</label>
                    <div class="col-sm-9">
                        <input type="file" class="form-control" id="pictures" name="pictures" accept=".jpg, .jpeg, .png" multiple />
                    </div>
                </div>

                <div class="row px-1 py-1">
                    <div class="col d-flex justify-content-center">
                        <button type="submit" class="btn rounded-3" style="border:3px solid black">Submit</button>
                    </div>
                </div>
            </form>

        </div>
        <div class="col-sm-3">&nbsp;</div>
    </div>

    <script>
        
        function check(givenID) {
            var input1 = document.getElementById("refund-rate");
            var input2 = document.getElementById("refund-period");

            if (givenID.value == "yes") {
                input1.disabled = false;
                input2.disabled = false
            }
            else {
                input1.disabled = true;
                input2.disabled = true;
            }

        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

</body>
</html>