<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Property Description</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <script src="https://kit.fontawesome.com/504d9b5831.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/confirmation.css">

</head>

<body>

    <div class="content">
        <div class="message">
            <p>
                Do you want to become a host?<br>
                <small>Start Hosting and Add Your Own Listings</small>
                <form>
                    <label for="bank">Enter bank account number:</label>
                    <input type="text" id="bank" name="bank" required>
                    <br><br>

                    <input type="checkbox" id="confirm" name="confirm" value="confirm" required>
                    <label for="confirm">I agree to all the terms and condition of hosting</label>
                    
                    <br>
                    Click on the button to Become a Host:<br><br>
                    <button type="submit" class="btn rounded-3" style="border:3px solid black">Become a host</button>
                </form>
            </p>
        </div>
        
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>

</html>